{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- CONTENT -->
	<div class="landing">
		<h1 class="landingname">&lt;&nbsp; Roshani Ayu Pranasti &nbsp;/&gt;</h1>
		<span class="landingbio">Strong arts and design professional with a bachelor's degree focused in Computer Science.</span>
	</div>

	<footer>
		<div class="container">
			<p>Roshani Ayu Pranasti © 2018</p>
		</div>
	</footer>

	<script>
		window.baffle;
		const name = baffle('.landingname', {
			characters: ' QWERTYUIOPASDFGHJKLZXCVBNM<>?":{}[]!+1234567890-=',
			speed: 80
		});
		const desc = baffle('.landingbio', {
			characters: ' QWERTYUIOPASDFGHJKLZXCVBNM<>?":{}[]!+1234567890-=',
			speed: 80
		});
		name.start();
		desc.start();
		name.reveal(2100);
		desc.reveal(2100, 300);

		window.sr = ScrollReveal();
		sr.reveal('.roundasset', { duration: 1000 });
	</script>
{% endblock %}