body, html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #26E5B9, #8530D7);
}

.navbar {
    background-color: #161670 !important;
    z-index: 88;
}

.navbar .navbar-nav li a {
    color: #ffffff !important;
}

.navbar .navbar-nav li a:hover {
    color: #FA1466 !important;
}

.navbar-toggler {
    background-color: #ffffff !important;
}

.logo {
    width:30px !important;
}

.spacing li a {
    padding-right: 20px !important;
}

.landing {
    width: 101%;
    padding: 2em;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.landingname {
    color: white;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 7px;
    font-weight: bold;
}

.landingbio {
    width: 10px;
    color: white;
    font-size: 20px;
    margin-top: -6px;
}

.title {
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.avatar{
    border-radius: 50%;
    width: 230px;
    margin-bottom: 9px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.icon{
    width:14%;
    margin: 2px;
}

.row.content {
    height: auto;
    background: #f9f9f9;
}

.sidenav {
    background-color: #ffffff;
    height: auto;
}

.sidenav p {
    color: #666666;
}

.img-overlay {
    margin-top:-37%;
}

.name {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 22px;
}

.bio {
    margin-bottom: 22px;
    font-size: 14px
}

.roundedrec {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:17px;
    margin-bottom:17px;
}

.insiderec {
    padding: 30px;
}

.insiderec hr {
    width: 100%;
}

.judul {
    color: #999999;
    text-align: left;
    padding-bottom: 5px;
}

.isi {
    color: #666666;
    font-size: 16px;
}

.link {
    color: #FA1466;
    text-decoration: underline;
}

.link:hover {
    color: #161670;
}

.highlight {
    color: #FA1466;
}

.calloc1 {
    font-size: 13px;
    color: #999999;
    text-align: left;
}

.calloc2 {
    font-size: 13px;
    color: #666666;
    text-align: left;
}

.edu {
    padding-top: 14px;
}

.skill img {
    opacity: 0.5;
    -webkit-filter: grayscale(40%);
	filter: grayscale(40%);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 75%;
    padding-top: 5px;
}
.skill:hover img {
    opacity: 1;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:149px;
    font-size:12px;
    color:#ffffff;
    background: #FA1466;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background: #FA1466;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}

.exp1 {
    margin-top: 37px;
    padding-bottom: 25px;
}

.exp2 {
    padding: 25px;
}

.exp3 {
    padding: 15px;
}

input[type=text], input[type=date], input[type=email], input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #FA1466;
    color: white;
    margin-top: 13px;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #161670;
}

.formtext {
    color: #161670;
}

.message img {
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0px;
    color: #666666;
    padding-left: 10px;
    padding-bottom: 10px;
}

footer p {
    color: white;
}

@media(max-width:700px){
    .landingname {
        font-size: 24px;
        margin: -1.3vh;
    }

    .landingbio {
        font-size: 14px;
    }

    .avatar{
        margin-top:30px;
        width: 210px;
    }

    .icon{
        width:12%;
        margin: 2px;
    }

    .title {
        font-size: 40px;
    }

    .expicon {
        padding-bottom: 10px;
    }

    .expicon2 {
        padding-top: 14px;
        padding-bottom: 10px;
    }

    .edu {
        padding-top: 0px;
    }

    .skill img {
        width: 39% !important;
        margin: 12px;
    }

    .lbhbesar img {
        width: 52% !important;
        margin: 12px;
    }

    .lbhkecil img {
        width: 28% !important;
        margin: 12px;
    }

    footer {
        visibility: hidden;
    }
}