{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- HEADER & AVATAR-->
	<div class="container h-50">
		<div class="row h-100 justify-content-center align-items-center">
			<p class="title">Profile</p>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav">
				<div class="text-center img-overlay">
					<img class="avatar img-fluid" src="{% static 'img/ava.jpg' %}" alt="Avatar">
					<p class="name"><strong>Roshani Ayu Pranasti</strong></p>
                    <p class="bio">
                        Computer Science Student <br>
						who has interests in #Design <br>
						and #WebDevelopment
                    </p>
					<hr>
					<div>
						<a href="https://www.instagram.com/astiroshani/">
							<img class="icon" src="{% static 'img/instagram.png' %}" alt="Instagram">
						</a>
						<a href="https://twitter.com/astiroshani">
							<img class="icon" src="{% static 'img/twitter.png' %}" alt="Twitter">
						</a>
						<a href="https://www.linkedin.com/in/roshani-ayu-pranasti/">
							<img class="icon" src="{% static 'img/linkedin.png' %}" alt="LinkedIn">
						</a>
						<a href="https://drive.google.com/file/d/1RWTR4FN1C3PORIo8XdBIpQlyoaO7lDgW/view?usp=sharing" >
							<img class="icon" src="{% static 'img/document.png' %}" alt="CV Document">
						</a>
					</div>
					<hr>
				</div>
				<footer>
					<div class="container">
						<p>Roshani Ayu Pranasti © 2018</p>
					</div>
				</footer>
			</div>

	<!-- CONTENT -->
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-6">
						<div class="roundedrec">
							<div class="insiderec">
								<p class="judul">Current position</p>
								<div class="row">
									<div class="col-sm-12">
										<p class="isi">
											Junior Member of
											<span class="highlight">Web Development SIG RISTEK</span>
										</p>
										<p class="calloc1">
											<img src="{% static 'img/location.png' %}">
											Depok, Jawa Barat, Indonesia
										</p>
										<p class="calloc1">
											<img src="{% static 'img/calender.png' %}">
											March 2019 - Present (2 months)
										</p>
									</div>
									<hr>
									<div class="col-sm-12">
										<p class="isi">
											Teaching Assistant of
											<span class="highlight">Basic Mathematics 1 Course</span>
										</p>
										<p class="calloc1">
											<img src="{% static 'img/location.png' %}">
											Depok, Jawa Barat, Indonesia
										</p>
										<p class="calloc1">
											<img src="{% static 'img/calender.png' %}">
											January 2019 - Present (2 months)
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="roundedrec">
							<div class="insiderec">
								<p class="judul">Education</p>
								<div class="row">
									<div class="col-sm-9">
										<p class="isi">Universitas Indonesia</p>
										<p class="calloc1">
											<img src="{% static 'img/location.png' %}">
											Bachelor’s Degree, Computer Science
										</p>
										<p class="calloc1">
											<img src="{% static 'img/calender.png' %}">
											2017 - 2021
										</p>
									</div>
									<div class="col-sm-3">
										<img class="img-fluid" src="{% static 'img/ui.png' %}">
									</div>
									<hr>
									<div class="col-sm-9">
										<p class="isi">Labschool Kebayoran High School</p>
										<p class="calloc1">
											<img src="{% static 'img/location.png' %}">
											High School Diploma, Natural Science
										</p>
										<p class="calloc1">
											<img src="{% static 'img/calender.png' %}">
											2014 - 2017
										</p>
									</div>
									<div class="col-sm-3">
										<img class="img-fluid edu" src="{% static 'img/labschool.png' %}">
									</div>
									<hr>
									<div class="col-sm-9">
										<p class="isi">
											Labschool Kebayoran Junior High School
										</p>
										<p class="calloc1">
										<img src="{% static 'img/location.png' %}">
											Junior High School Diploma
										</p>
										<p class="calloc1">
										<img src="{% static 'img/calender.png' %}">
											2011 – 2014
										</p>
									</div>
									<div class="col-sm-3">
										<img class="img-fluid edu" src="{% static 'img/labschool.png' %}">
									</div>
								</div>
							</div>
						</div>
						<div class="roundedrec">
							<div class="insiderec">
								<p class="judul">Summary</p>
								<p class="isi">
									Hi! My name is Roshani Ayu Pranasti, Asti for short. I’m 19 years old. Welcome to my personal website and feel free to click around :)
									<!-- <br><br>
									Actually, I have a project on making my newest personal website and blog on Github. But, they haven't finished yet and aren't responsive enough especially on mobile devices.
									If you're interested, click on this <a class="link" href="https://roshaniayu.github.io/">link</a>. -->
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="roundedrec">
							<div class="insiderec">
								<p class="judul">Skills</p>
								<p class="isi">
									<div class="skillbar clearfix " data-percent="90%">
										<div class="skillbar-title">
											<span>USER INTERFACE</span>
										</div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent"></div>
									</div>

									<div class="skillbar clearfix " data-percent="80%">
										<div class="skillbar-title">
											<span>USER EXPERIENCE DESIGN</span>
										</div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent"></div>
									</div>

									<div class="skillbar clearfix " data-percent="95%">
										<div class="skillbar-title">
											<span>GRAPHIC DESIGN</span>
										</div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent"></div>
									</div>

									<div class="skillbar clearfix " data-percent="75%">
										<div class="skillbar-title">
											<span>MOVIE EDITING</span>
										</div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent"></div>
									</div>

									<div class="skillbar clearfix " data-percent="75%">
										<div class="skillbar-title">
											<span>JAVA</span>
										</div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent"></div>
									</div>

									<div class="skillbar clearfix " data-percent="80%">
										<div class="skillbar-title">
											<span>PYTHON</span>
										</div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent"></div>
									</div>

									<div class="skillbar clearfix " data-percent="85%">
										<div class="skillbar-title">
											<span>WEB DEV</span>
										</div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent"></div>
									</div>
								</p>
							</div>
						</div>
						<div class="roundedrec">
							<div class="insiderec">
								<p class="judul">Things to spark my creativity</p>
								<p class="isi">
									<div class="row text-center">
										<div class="col-sm-4 skill lbhbesar">
											<img src="{% static 'img/html5.png' %}">
										</div>
										<div class="col-sm-4 skill">
											<img style="width:55%" src="{% static 'img/css3.png' %}">
										</div>
										<div class="col-sm-4 skill">
											<img style="width:95%" src="{% static 'img/django.png' %}">
										</div>
									</div>
									<br><br>
									<div class="row text-center">
										<div class="col-sm-4 skill">
											<img style="width:100%" src="{% static 'img/react.png' %}">
										</div>
										<div class="col-sm-4 skill">
											<img style="width:75%" src="{% static 'img/illustrator.svg' %}">
										</div>
										<div class="col-sm-4 skill">
											<img style="width:75%" src="{% static 'img/photoshop.svg' %}">
										</div>
									</div>
									<br><br>
									<div class="row text-center">
										<div class="col-sm-4 skill lbhkecil">
											<img style="width:43%" src="{% static 'img/figma.svg' %}">
										</div>
										<div class="col-sm-4 skill">
											<img style="width:75%" src="{% static 'img/sketch.png' %}">
										</div>
									</div>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		jQuery(document).ready(function(){
			jQuery('.skillbar').each(function(){
				jQuery(this).find('.skillbar-bar').animate({width:jQuery(this).attr('data-percent')},4000);
			});
		});

		window.sr = ScrollReveal();
		sr.reveal('.avatar');
		sr.reveal('.roundedrec', { duration: 1200 });
		sr.reveal('.isi', { duration: 1000 });
	</script>
{% endblock %}