{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- HEADER & AVATAR-->
	<div class="container h-50">
		<div class="row h-100 justify-content-center align-items-center">
			<p class="title">Experiences</p>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav">
				<div class="text-center img-overlay">
					<img class="avatar img-fluid" src="{% static 'img/ava.jpg' %}" alt="Avatar">
					<p class="name"><strong>Roshani Ayu Pranasti</strong></p>
					<p class="bio">
						Computer Science Student <br>
						who has interests in #Design <br>
						and #WebDevelopment
                    </p>
					<hr>
					<div>
						<a href="https://www.instagram.com/astiroshani/">
							<img class="icon" src="{% static 'img/instagram.png' %}" alt="Instagram">
						</a>
						<a href="https://twitter.com/astiroshani">
							<img class="icon" src="{% static 'img/twitter.png' %}" alt="Twitter">
						</a>
						<a href="https://www.linkedin.com/in/roshani-ayu-pranasti/">
							<img class="icon" src="{% static 'img/linkedin.png' %}" alt="LinkedIn">
						</a>
						<a href="https://drive.google.com/file/d/1RWTR4FN1C3PORIo8XdBIpQlyoaO7lDgW/view?usp=sharing" >
							<img class="icon" src="{% static 'img/document.png' %}" alt="CV Document">
						</a>
					</div>
					<hr>
				</div>
				<footer>
					<div class="container">
						<p>Roshani Ayu Pranasti © 2018</p>
					</div>
				</footer>
			</div>

	<!-- CONTENT -->
			<div class="col-sm-9">
				<div class="roundedrec">
                    <div class="insiderec">
                        <div class="row">
							<div class="col-sm-10">
								<p class="isi">
									Associate Designer at
									<span class="highlight">adaTeman</span>
								</p>
								<p class="calloc1">
									<img src="{% static 'img/location.png' %}">
									Depok, Jawa Barat, Indonesia
								</p>
								<p class="calloc1">
									<img src="{% static 'img/calender.png' %}">
									July 2018 - February 2019 (8 months)
								</p>
							</div>
							<div class="col-sm-2">
								<img class="img-fluid exp1" src="{% static 'img/adateman.png' %}">
                            </div>
                            <hr>
							<div class="col-sm-10">
								<p class="isi">
									Staff of
									<span class="highlight">BEM Media Fasilkom UI</span>
								</p>
								<p class="calloc1">
									<img src="{% static 'img/location.png' %}">
									Depok, Jawa Barat, Indonesia
								</p>
								<p class="calloc1">
									<img src="{% static 'img/calender.png' %}">
									March 2018 - December 2018 (10 months)
								</p>
							</div>
							<div class="col-sm-2">
								<img class="img-fluid exp2" src="{% static 'img/bem.png' %}">
                            </div>
                            <hr>
                            <div class="col-sm-10">
								<p class="isi">
									UI & UX at
									<span class="highlight">Mahasewa Indonesia</span>
								</p>
								<p class="calloc1">
									<img src="{% static 'img/location.png' %}">
									Depok, Jawa Barat, Indonesia
								</p>
								<p class="calloc1">
									<img src="{% static 'img/calender.png' %}">
									April 2018 - July 2018 (4 months)
								</p>
							</div>
							<div class="col-sm-2">
								<img class="img-fluid exp3" src="{% static 'img/mahasewa.png' %}">
                            </div>
						</div>
					</div>
                </div>
                <div class="roundedrec">
                    <div class="insiderec">
						<p class="judul">Accomplishments</p>
                        <div class="row">
                            <div class="col-sm-1">
								<img class="expicon img-fluid" src="{% static 'img/language.png' %}">
                            </div>
							<div class="col-sm-11">
                                <p class="isi">Language</p>
                                <p class="calloc2"><strong>Bahasa Indonesia</strong></p>
                                <p class="calloc1">Native or billingual profiency</p>
                                <p class="calloc2"><strong>English</strong></p>
                                <p class="calloc1">Full professional proficiency</p>
                                <p class="calloc2"><strong>Japanese</strong></p>
                                <p class="calloc1">Elementary proficiency</p>
                            </div>
                            <div class="col-sm-1">
								<img class="expicon2 img-fluid" src="{% static 'img/volunteer.png' %}">
                            </div>
                            <div class="col-sm-11">
								<p class="isi">Volunteering Experiences</p>
								<p class="calloc1">Journal of Fresh Money Compfest 11</p>
                                <p class="calloc1">PIC Creative OH Fasilkom 2018</p>
                                <p class="calloc1">Staff of Visual Design Compfest X</p>
                                <p class="calloc1">Staff of Fundraising the 25th Computers Get Together</p>
                            </div>
                            <div class="col-sm-1">
								<img class="expicon2 img-fluid" src="{% static 'img/courses.png' %}">
                            </div>
                            <div class="col-sm-11">
								<p class="isi">Projects</p>
								<div class="row">
									<div class="col-sm-10">
                                    	<p class="calloc1">BLS FH UI Website</p>
                                	</div>
                                 	<div class="col-sm-2">
								    	<p class="calloc1">2019</p>
                                	</div>
								</div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		window.sr = ScrollReveal();
		sr.reveal('.avatar');
		sr.reveal('.roundedrec', { duration: 1200 });
		sr.reveal('.isi', { duration: 1000 });
	</script>
{% endblock %}