{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Roshani Ayu Pranasti</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'js/baffle.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/scrollreveal.js' %}" type="text/javascript"></script>
</head>

<body>
    <!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand active" href="{% url 'home' %}"><img class="logo" src="{% static 'img/logo.png' %}"><span class="sr-only">(current)</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  	<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto spacing">
				<li class="nav-item">
			 		<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item">
			 		 <a class="nav-link" href="{% url 'profile' %}">Profile</a>
				</li>
				<li class="nav-item">
			  		<a class="nav-link" href="{% url 'experiences' %}" >Experiences</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'contact' %}">Contact Me</a>
			  	</li>
			</ul>
		</div>
	</nav>
    {% block content %}
    {% endblock %}
</body>

</html>