{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <div class="row">
                            <div class="col-sm-6 signup-form">
                                <p class="judul gantijudul">Leave me a message</p>
                                <form class="form_input" method="POST" class="isi">
                                    {% csrf_token %}
                                    <div class="validate-input formtext" data-validate="Name is required">
                                        {{ form.name.label_tag }}
                                        {{ form.name }}
                                    </div>
                                    <div class="validate-input formtext" data-validate="Message is required">
                                        {{ form.message.label_tag }}
                                        {{ form.message }}
                                    </div>
                                    <input class="submit" type="submit" value="Send">
                                    <br><br>
                                </form>
                            </div>
                            <div class="col-sm-6 message">
                                <img src="{% static 'img/message.png' %}" alt="Message">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <div class="row">
                            <div class="col-sm-12 refresh">
                                <p class="judul">What they say</p>
                                <div class="table-responsive">
                                    <table id="demo" class="table">
                                        {% if messages %}
                                            <thead>
                                                <tr class="text-center">
                                                    <th scope="col" class="align-middle">Name</th>
                                                    <th scope="col" class="align-middle">Message</th>
                                                    <th scope="col" class="align-middle">Posted at</th>
                                                </tr>
                                            </thead>
                                            {% for message in messages %}
                                            <tbody>
                                                <tr class="text-center">
                                                    <td scope="row">{{ message.name }}</td>
                                                    <td scope="row">{{ message.message }}</td>
                                                    <td scope="row">{{ message.created_at }}</td>
                                                </tr>
                                            </tbody>
                                            {% endfor %}
                                        {% else %}
                                            <h5>No response yet</h5>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.sr = ScrollReveal();
		sr.reveal('.roundedrec', { duration: 1200 });
		sr.reveal('.isi', { duration: 1000 });
    </script>
{% endblock %}